/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

/*.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}*/

.nav-collapse.opened {
  max-height: 9999px;
  z-index: 9;
  background: #1381BE;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  /*.js .nav-collapse {
    position: relative;
  }*/
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
.list_btn { top: 15px; }
.col-xs-12 {width: 50%; margin-bottom: 15px; }
.dd_list { width: 33%; }
}
/*@media screen and (max-width: 1216px) {
.col-xs-12 { width: 100%; }	
}*/
@media screen and (max-width: 40em) {
.dd_list { width: 100%; }
.checkbox-inline+.checkbox-inline{ margin-left: 0; }
}
@media screen and (max-width: 1024px) {
.col-sm-9 .btn { margin-top: 15px; }
}
