.systemPassword{
    background: #F3F3F3;
    position: relative;
    border-radius: 10px;
}
.passWordBox{
    width: 630px;
    height: 426px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -315px;
    margin-top: -213px;
}
.systemPassword .title{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -10px;
    left: -10px;
    background: url("img/ico38.png") no-repeat;
}
.systemPassword .title .title_h1{
    position: absolute;
    color: #D4F8FF;
    top: 14px;
    left: 10px;
    font-size: 14px;
}
.systemPassword .title .title_h2{
    position: absolute;
    color: #333;
    top: 34px;
    left: 40px;
    font-size: 14px;
    width: 30px;
}
.span_head{
    width: 100px;
}
.span_remarks{
    margin-left: 100px;
}
.passWordMessage{
    margin-left: 60px;
    margin-top: 60px;
}
.ipt_type1{
    width: 290px;
    height: 45px;
    box-sizing: border-box;
    line-height: 42px;
    border: solid 1px #ccc;
    font-size: 14px;
}
.ipt_submit{
    width: 150px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    border: solid 1px #3277B6;
    box-shadow: 1px 1px 0px #122C43;
    background: #1F4A72;
    font-size: 16px;
    color: #fff;
    margin-left: 100px;
    border-radius: 3px;
    position: relative;
}
.ipt_submit:active{
    top: 1px;
    left: 1px;
}