/*列表页*/
.CtitTop{
	padding-bottom: 15px;
	border-bottom: 1px solid #d9eaf4;
	font-size: 12px;
	color: #004d78;
	margin-bottom: 20px;
}
.CtitTop a{
	font-size: 12px;
	color: #004d78;
}

.toogle {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0px;
    top: 0px;
    border-radius: 3px;
    background: url(../imgs/list-jia.png) no-repeat 0 0px;
    cursor: pointer;
}
.arrow_btn02 {
    background: url(../imgs/list-add.png) no-repeat 0 0px;
}

.con-text {
    border: 1px solid #dedede;
    border-top: none;
    padding: 20px 50px;
}
.con-text table input{
	width: 208px;
	height: 28px;
	border: 1px #ddd solid;
}
.con-text table select{
	width: 210px;
	height: 30px;
	border: 1px #ddd solid;
}
.List_cha{
	width: 70px;
	height: 30px;
	line-height: 30px;
	background-color:#1381be;
	color: #fff;
	text-align: center;
}
.List_clear{
	color: #2f9ad7;
}
.List_but{
	margin-bottom: 15px;
	margin-top: 27px;
}
.List_but li{
	float: left;
	margin-right: 10px;
}
.List_but li a{
	width: 96px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	display: inline-block;
	background-color: #1381be;
	color: #fff;
	border-radius: 3px;
}
.List_but li:nth-child(2) a{
	background-color: #e77420;
}
.List_table table{
	border: 1px solid #ddd;
	text-align: center;
}
.List_table table tr td{
	padding: 8px;
	color:#999899;
}
.List_table thead {
    background-color: #e1eaf6;
}
.List_table thead tr td{
    color: #1381be;
   	border-right: 1px #ddd solid;
}
.List_table td:nth-child(2) {
    color: #1381be;
}
.List_table tbody tr td{
    
   	border-right: 1px #ddd solid;
}
.List_table tbody tr td a{
    color: #1381be;
}
.List_table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}
.List_table table tr:hover{
	cursor: pointer;
	background-color:#fef3ec;
}
/**********分页*************/
.paging{padding-bottom:35px;margin-top:35px; text-align:center;background-color:#fff;}
.paging a {padding:0px 5px;height:18px;line-height:18px;text-align:center;font-size:12px; border:1px solid #cccdcd;vertical-align:middle; color:#cdcdcd; display: inline-block;}
.paging a:hover{border:1px solid #3E73A1;color:#3e73a1;}
.paging a.selected{border:1px solid #3E73A1;color:#3e73a1;}
.paging a.prev{color:#424142;font-size:12px;border:none;}
.paging a.arrl01{
	width:18px;
	padding:0px 0px;
	background:url(../imgs/arrl01.png) no-repeat center;
}
.paging a.arrl02{
	width:18px;
	padding:0px 0px;
	background:url(../imgs/arrl02.png) no-repeat center;
}
.paging a.arrr01{
	width:18px;
	padding:0px 0px;
	background:url(../imgs/arrr01.png) no-repeat center;
}
.paging a.arrr02{
	width:18px;
	padding:0px 0px;
	background:url(../imgs/arrr02.png) no-repeat center;
}


.T_nav{
	width:100%;
	height:38px;
	background-color:#f2f2f2;
	border-bottom:2px solid #4396ca;
	margin-top:20px;
}
.T_nav li{
	float:left;
}
.T_nav li a{
	display:block;
	height:38px;
	line-height:38px;
	color: #1381be;
	font-size:14px;
	padding:0px 28px;
}
.T_nav .nav_cur a{
	color: #fff;
	background-color:#4396ca;
}
.T_con{
	border:1px solid #dedede;
	border-top:none;
	padding:30px 0px 55px;
}
.star{
	color:#e71f19;
	margin-right:5px;
}
.T_txt{
	color:#b0b2b1;
	font-size:12px;
	margin-left:5px;
	line-height:29px;
}
.R_txt{
	color:#e91010;
	font-size:12px;
	margin-left:5px;
	line-height:29px;
}
.Imgbox{
	margin-top:10px;
	/*width:50px;*/
	height:50px;
}
.Imgbox img{
	height:100%;
	border:1px solid #dedede;
}
.T_table select{
	width:210px;
	height:29px;
	padding-left:7px;
	border-radius:3px;
	border:1px solid #1381be;
}
.T_table input{
	width:201px;
	height:29px;
	padding-left:7px;
	border-radius:3px;
	border:1px solid #dedede;
}
.T_check input{
	width:13px;
	height:13px;
	margin-right:9px;
}
.T_check label{
	margin-right:20px;
}
.T_btn{
	overflow:hidden;
	width:220px;
	margin:0 auto;
	margin-top:90px;
}
.T_btn li{
	float:left;
}
.T_btn li a{
	display:block;
	width:70px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background-color:#1381be;
	border-radius:3px;
	margin:0px 20px;
}
.T_table .filed{
	position:relative;
	width:66px;
	height:29px;
	line-height:29px;
	text-align:center;
	border:none;
	background-color:#dd7124;
	color:#fff;
	border-radius:3px;
	margin-left:10px;
	/*margin-right:10px;*/
}
.T_table .filed input[type="file"]{
	position:absolute;
	left:0;
	top:0;
	width:66px;
	height:29px;
	opacity:0;
}
/*******添加信息*******/
.A_table select{
	border:1px solid #dedede;
}
.A_table textarea{
	width:336px;
	height:105px;
	border-radius:3px;
	border:1px solid #dedede;
	line-height:22px;
}
.A_btn{
	margin-top:52px;
}
.Tree_con{
	border:1px solid #dedede;
	background-color:#f7f7f7;
}
.Tree{
	width:260px;
	border-right:1px solid #dedede;
}
.S_btn{
	margin-top:20px;
	margin-left:0px;
}
.S_btn li a{
	margin-right:40px;
	margin-left:0px;
}
.T_table .blue_box input{
	border:1px solid #1381be;
}
.kong{
	color:#1381be;
	font-size:12px;
	margin-left:10px;
}
/*******订单详情******/
.Oin_con{
	height:520px;
	border:1px solid #dedede;
	border-top:none;
	padding-top:38px;
}
.Oin_con ul{
	width:33.2%;
	height:300px;
	float:left;
	border-right:1px solid #dedede;
}
.Oin_con li{
	margin-left:98px;
	font-size:14px;
	line-height:30px;
}
.Oin_con span{
	color:#808080;
}
.Oin_con i{
	color:#000;
	font-style:normal;
}
.Oin_con .OBtn{
	border:none;
	padding-left:25px;
	height:33px;
	margin-bottom:15px;
}
.Oin_con .OBtn li{
	border-radius:5px;
	margin-right:10px;
	margin-left:0px;
}
.Oin_con .OBtn a{
	display:block;
	width:96px;
	height:33px;
	text-align:center;
	line-height:33px;
	color:#fff;
}
.Oin_con .OBtn .one{
	background-color:#1381be;
}
.Oin_con .OBtn .two{
	background-color:#e77420;
}
.O_table thead td{
	text-align:center;
	height:32px;
	background-color:#e1eaf6;
	color:#1381be;
	font-size:14px;
	border-right:1px solid #fff;
}
.O_table tbody td{
	text-align:center;
	color:#333;
	font-size:14px;
	height:112px;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}
.O_table img{
	border:1px solid #ebebeb;
	margin:0px auto;
}
/******弹出框*****/
.Tbox{
	background-color:#f2f2f2;
	width:110px;
	height:54px;
	display:table;
	padding:0px 30px;
}
.TbCon{
	width:110px;
	display:table-cell;
	vertical-align:middle;
}
.TbCon img{
	float:left;
}
.TbCon span{
	float:right;
	color:#343f50;
	font-size:14px;
	line-height:28px;
}
.SBox{
	position:relative;
	width:332px;
	height:185px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}
.SBox img{
	position:absolute;
	right:15px;
	top:12px;
	cursor:pointer;
}
.SBox h2{
	color:#fff;
	font-size:14px;
	height:36px;
	line-height:36px;
	padding-left:22px;
	background-color:#1381be;
	border-radius:3px 3px 0px 0px;
	margin-bottom:34px;
}
.SCon{
	text-align:center;
}
.SCon span{
	color:#333333;
	font-size:14px;
	
}
.SCon a{
	display:block;
	width:85px;
	height:35px;
	line-height:35px;
	text-align:center;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	background-color:#1381be;
	margin:27px auto 0px;
}
.con-text table .cwDate input{
	width: 90px;
}
.cwDate i{
	width: 4px;
	height: 14px;
	border-bottom: 1px solid #1381be;
	display: inline-block;
	margin: 0 7px;
}
.cwTitle{
	color: #1381be;
}
.cwCircle{
	width: 192px;
	height: 192px;
	border: 1px solid #dedede;
	border-radius: 50%;
}
.cwCircle span{
	display: block;
	border: 10px solid #ffa800;
	border-radius: 50%;
	
}
